.loader{
    position: absolute;
    z-index: 100;
    top:0;
    width: 100%;
    height: 100%;
    background-color: black;
    
}
.loaderContainer {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .loaderItem {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
  .loaderItem-1 {
    background-color: #FA5667;
    top: 0;
    left: 0;
    z-index: 1;
    animation: loaderItem-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .loaderItem-2 {
    background-color: #7A45E5;
    top: 0;
    right: 0;
    animation: loaderItem-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .loaderItem-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: loaderItem-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .loaderItem-4 {
    background-color: #FAC24C;
    bottom: 0;
    left: 0;
    animation: loaderItem-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  @keyframes loaderItem-1_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, 100px)} 
    50% {transform: translate(100px, 100px)} 
    75% {transform: translate(100px, 0)} 
  }
  
  @keyframes loaderItem-2_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(-100px, 0)} 
    50% {transform: translate(-100px, 100px)} 
    75% {transform: translate(0, 100px)} 
  }
  
  @keyframes loaderItem-3_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, -100px)} 
    50% {transform: translate(-100px, -100px)} 
    75% {transform: translate(-100px, 0)} 
  }
  
  @keyframes loaderItem-4_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(100px, 0)} 
    50% {transform: translate(100px, -100px)} 
    75% {transform: translate(0, -100px)} 
  }