.body{
    margin: 0;
    padding: 0;
}
.fullscreen{
    width:100vw;
    height:100vh;
    /* background-color: red; */
}
h1{
    font-family: 'Bangers', cursive;
}
p,pre{
    font-family: 'Merriweather', serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}